<%- include("layout/header") %>


    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title mb-3">Mimarlık Mühendislik Fakültesi</strong>
                            </div>
                            <div class="card-body">
                                <div class="mx-auto d-block">
                                    <img class="rounded-circle mx-auto d-block" src="images/icon/avatar-01.jpg"
                                        alt="Card image cap">
                                    <h5 class="text-sm-center mt-2 mb-1">Oktay Aydın</h5>
                                    <div class="location text-sm-center">
                                        <i class="fa fa-paperclip"></i> Bilgisayar Mühendisliği
                                    </div>
                                </div>
                                <hr>
                                <div class="card-text text-sm-center">
                                    <a href=""><button type="button" class="btn btn-outline-dark btn-sm">
                                            <i class="fa fa-lightbulb-o"></i>&nbsp; Ekipe Ekle</button></a>
                                    <a href=""><button type="button" class="btn btn-outline-danger btn-sm">
                                            <i class="fa fa-user"></i>&nbsp; Profil</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title mb-3">Fen-Edebiyat Fakültesi</strong>
                            </div>
                            <div class="card-body">
                                <div class="mx-auto d-block">
                                    <img class="rounded-circle mx-auto d-block" src="images/icon/avatar-01.jpg"
                                        alt="Card image cap">
                                    <h5 class="text-sm-center mt-2 mb-1">Hakkı Hakyemez</h5>
                                    <div class="location text-sm-center">
                                        <i class="fa fa-paperclip"></i> Sanat Tarihi
                                    </div>
                                </div>
                                <hr>
                                <div class="card-text text-sm-center">
                                    <button type="button" class="btn btn-outline-dark btn-sm">
                                        <i class="fa fa-lightbulb-o"></i>&nbsp; Ekipe Ekle</button>
                                    <button type="button" class="btn btn-outline-danger btn-sm">
                                        <i class="fa fa-user"></i>&nbsp; Profil</button>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title mb-3">Sağlık Bilimleri Fakültesi</strong>
                            </div>
                            <div class="card-body">
                                <div class="mx-auto d-block">
                                    <img class="rounded-circle mx-auto d-block" src="images/icon/avatar-01.jpg"
                                        alt="Card image cap">
                                    <h5 class="text-sm-center mt-2 mb-1">Abdullah Ölürdedönmez</h5>
                                    <div class="location text-sm-center">
                                        <i class="fa fa-paperclip"></i> Hemşirelik
                                    </div>
                                </div>
                                <hr>
                                <div class="card-text text-sm-center">
                                    <button type="button" class="btn btn-outline-dark btn-sm">
                                        <i class="fa fa-lightbulb-o"></i>&nbsp; Ekipe Ekle</button>
                                    <button type="button" class="btn btn-outline-danger btn-sm">
                                        <i class="fa fa-user"></i>&nbsp; Profil</button>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title mb-3">Tıp Fakültesi</strong>
                            </div>
                            <div class="card-body">
                                <div class="mx-auto d-block">
                                    <img class="rounded-circle mx-auto d-block" src="images/icon/avatar-01.jpg"
                                        alt="Card image cap">
                                    <h5 class="text-sm-center mt-2 mb-1">Huriye Delergeçer</h5>
                                    <div class="location text-sm-center">
                                        <i class="fa fa-paperclip"></i> Tıp
                                    </div>
                                </div>
                                <hr>
                                <div class="card-text text-sm-center">
                                    <button type="button" class="btn btn-outline-dark btn-sm">
                                        <i class="fa fa-lightbulb-o"></i>&nbsp; Ekipe Ekle</button>
                                    <button type="button" class="btn btn-outline-danger btn-sm">
                                        <i class="fa fa-user"></i>&nbsp; Profil</button>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title mb-3">Mimarlık Mühendislik Fakültesi</strong>
                            </div>
                            <div class="card-body">
                                <div class="mx-auto d-block">
                                    <img class="rounded-circle mx-auto d-block" src="images/icon/avatar-01.jpg"
                                        alt="Card image cap">
                                    <h5 class="text-sm-center mt-2 mb-1">Aman Vermez</h5>
                                    <div class="location text-sm-center">
                                        <i class="fa fa-paperclip"></i> Bilgisayar Mühendisliği
                                    </div>
                                </div>
                                <hr>
                                <div class="card-text text-sm-center">
                                    <button type="button" class="btn btn-outline-dark btn-sm">
                                        <i class="fa fa-lightbulb-o"></i>&nbsp; Ekipe Ekle</button>
                                    <button type="button" class="btn btn-outline-danger btn-sm">
                                        <i class="fa fa-user"></i>&nbsp; Profil</button>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title mb-3">Diş Hekimliği Fakültesi</strong>
                            </div>
                            <div class="card-body">
                                <div class="mx-auto d-block">
                                    <img class="rounded-circle mx-auto d-block" src="images/icon/avatar-01.jpg"
                                        alt="Card image cap">
                                    <h5 class="text-sm-center mt-2 mb-1">Sude Duru</h5>
                                    <div class="location text-sm-center">
                                        <i class="fa fa-paperclip"></i> Diş Hekimliği
                                    </div>
                                </div>
                                <hr>
                                <div class="card-text text-sm-center">
                                    <button type="button" class="btn btn-outline-dark btn-sm">
                                        <i class="fa fa-lightbulb-o"></i>&nbsp; Ekipe Ekle</button>
                                    <button type="button" class="btn btn-outline-danger btn-sm">
                                        <i class="fa fa-user"></i>&nbsp; Profil</button>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title mb-3">Beden Eğitimi Öğretmenliği</strong>
                            </div>
                            <div class="card-body">
                                <div class="mx-auto d-block">
                                    <img class="rounded-circle mx-auto d-block" src="images/icon/avatar-01.jpg"
                                        alt="Card image cap">
                                    <h5 class="text-sm-center mt-2 mb-1">Mehmet Ağaç</h5>
                                    <div class="location text-sm-center">
                                        <i class="fa fa-paperclip"></i> Besyo
                                    </div>
                                </div>
                                <hr>
                                <div class="card-text text-sm-center">
                                    <button type="button" class="btn btn-outline-dark btn-sm">
                                        <i class="fa fa-lightbulb-o"></i>&nbsp; Ekipe Ekle</button>
                                    <button type="button" class="btn btn-outline-danger btn-sm">
                                        <i class="fa fa-user"></i>&nbsp; Profil</button>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <%- include("layout/footer") %>