<%- include("layout/header") %>
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <strong>Üye Bilgileri</strong>
                            </div>
                            <div class="card-body card-block">
                                <form action="" method="post" class="form-horizontal">

                                    <div class="row form-group">
                                        <div class="col col-md-12">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-user"></i>
                                                </div>
                                                <input type="text" id="input1-group1" name="input1-group1"
                                                    placeholder="İsim Soyisim" class="form-control">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col col-md-12">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-gears"></i>
                                                </div>
                                                <input type="password" id="input1-group1" name="input1-group1"
                                                    placeholder="Yeni Şifre" class="form-control">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col col-md-12">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-gears"></i>
                                                </div>
                                                <input type="password" id="input1-group1" name="input1-group1"
                                                    placeholder="Yeni Şifre Tekrar" class="form-control">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col col-md-12">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-clipboard"></i>
                                                </div>
                                                <input type="text" id="input1-group1" name="input1-group1"
                                                    placeholder="Fakülte" class="form-control">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col col-md-12">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-paperclip"></i>
                                                </div>
                                                <input type="text" id="input1-group1" name="input1-group1"
                                                    placeholder="Bölüm" class="form-control">
                                            </div>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-success btn-sm">
                                        <i class="fa fa-dot-circle-o"></i> Güncelle
                                    </button>

                                </form>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-6">
                        <!-- TOP CAMPAIGN-->
                        <div class="top-campaign">
                            <h3 class="title-3 m-b-30">Tüm Görevler</h3>
                            <div class="table-responsive">
                                <table class="table table-top-campaign">
                                    <tbody>
                                        <tr>
                                            <td>Veri Tabanı Hazırlanacak</td>
                                            <td>
                                                <button type="button" disabled
                                                    class="btn btn-primary btn-sm">Beklemede</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>U/I Yapıalcak</td>
                                            <td>
                                                <button type="button" disabled
                                                    class="btn btn-success btn-sm">Başladı</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Backend altyapısı hazırla</td>
                                            <td> <button type="button" disabled
                                                    class="btn btn-danger btn-sm">Bitti</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Frondend basla</td>
                                            <td> <button type="button" disabled
                                                    class="btn btn-success btn-sm">Başladı</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Sunum hazırlanacak</td>
                                            <td> <button type="button" disabled
                                                    class="btn btn-success btn-sm">Başladı</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Litaretür Taraması yap</td>
                                            <td> <button type="button" disabled
                                                    class="btn btn-primary btn-sm">Beklemede</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Sunum için tema hazırla</td>
                                            <td> <button type="button" disabled
                                                    class="btn btn-danger btn-sm">Bitti</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Kapak Fotografı Seç</td>
                                            <td> <button type="button" disabled
                                                    class="btn btn-danger btn-sm">Bitti</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--  END TOP CAMPAIGN-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include("layout/footer") %>