<nav class="navbar-sidebar2">
    <ul class="list-unstyled navbar__list">
        <li>
            <a href="/profil">
                <i class="fa fa-user"></i>Profil</a>
        </li>
        <li>
            <a href="/myprojects">
                <i class="fa fa-calendar"></i>Projelerim</a>
        </li>
        <li>
            <a href="/settings">
                <i class="fa fa-gear"></i>Ayarlar</a>
        </li>
        <li>
            <a href="/createproject">
                <i class="fa fa-folder"></i>Proje Oluştur</a>
        </li>

    </ul>
</nav>